[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
coverage = "*"
each = {editable = true, path = "."}
black = "*"
isort = "*"
flake8 = "*"
ipython = "*"
mock = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
